<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.pabloezequiel.chesslab">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="locale"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".store.ChessPackActivity"
            android:label="@string/title_activity_chesslab_store"
            android:configChanges="locale"
            android:parentActivityName="io.github.pabloezequiel.chesslab.store.ChessPackActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".store.ChessPackActivity" />
        </activity>

        <activity
            android:name=".UserSettingsActivity"
            android:label="@string/pref_language_titulo"
            android:configChanges="locale"
            android:parentActivityName="io.github.pabloezequiel.chesslab.UserSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserSettingsActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_display_message"
            android:configChanges="locale"
            android:parentActivityName="io.github.pabloezequiel.chesslab.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>



        <!-- Inicio Permisos requeridos -->
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
        <!-- Final  Permisos requeridos -->

    </application>

</manifest>